.headline{
  padding: 10px 0;
  background-color: #ef1a3f;
  color: #fff; 
  margin-bottom: 5px;
}

.article{
  border:solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #eeeedd;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px; 
  color: #222;
  line-height: 100%;
}

.headline p{
  font-size: 40px;
  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
}

.article img{
  display: inline-block;
  max-height: 100%;
  width: 100%;
  padding-top: 5px;
  margin-top: 5px;
}